body {
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: white;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  text-shadow: 0 0 10px rgba(255, 78, 136, 0.8);
}

p {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

button {
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#yes {
  background-color: #ff4e88;
  color: white;
  box-shadow: 0 0 10px rgba(255, 78, 136, 0.7);
}

#no {
  background-color: white;
  color: #ff4e88;
  position: relative;
}

button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
}
